<div class="container">
  <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <ul id="tags-list-id" class="d-flex flex-row tags-list" style='list-style-type:none;padding-left: 0;flex-wrap: wrap;'>
          <% if (reminderItem.tags != ''){ %>
            <% for (let n = 0; n < reminderItem.tags.length; n++){ %>
              <li class='li' style='display: block; border-left: 2px solid; padding-left: 5px; padding-right: 5px'>
                <div class='form-check' style='padding-left: 1%;display: inline-block'>
                  <label class='form-check-label' style='color: crimson;'><%= reminderItem.tags[n] %></label>
                </div><i class='remove mdi mdi-close-circle-outline'></i>
              </li>
            <% } %>
          <% } %>
        </ul>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>

        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>

</div>
